.coinClick:hover
{
	background: #f2f2f2;
}

.chatSelection:hover
{
	font-weight: bold;
	cursor: pointer;
}

.center
{
	width: 150px;
	margin: 40px auto;  
}

.btn-danger
{
	background-color: #bc3a3a;
}

.input-number
{
	text-align: center;
}