/* Used for custom styling */
#titleUnderlineLogin {
	display: inline-block;
	text-align: center;
	max-width: 600px;
	padding-left: 300px;
	padding-right: 300px;
	padding-bottom: 10px;
	border-top: 1px solid #636b6f;
}

.panel-body {
	text-align: center;
}

.form-horizontal {
	text-align: left;
}

#profileTitle {
	padding-bottom: 10px;
	border-bottom: 1px solid #756e7c;
}

#profileTitle h2 {
	float: right;
}
