/* Used for custom styling */
#titleUnderlineLogin {
	display: inline-block;
	text-align: center;
	max-width: 600px;
	padding-left: 300px;
	padding-right: 300px;
	padding-bottom: 10px;
	border-top: 1px solid #636b6f;
}

.panel-body {
	text-align: center;
	text-decoration: none;
}

.form-horizontal {
	text-align: left;
}

#profileTitle {
	padding-bottom: 10px;
}

#profileTitle h2 {
	float: left;
}

.albumDash {
	display: flex;
}

#userInfo {
	 position: fixed;
}

#statistics {
	text-align: left;
}

.distance {
	display: inline-block;
	vertical-align: center;
}

@media only screen and (max-width: 795px) {
	body {
		text-align: center;
	}
	#userInfo {
		position: relative;
	}
	#statistics {
		text-align: center;
	}
    .albumDash {
		display: block;
	}
	.coinClick {
		min-width: 200px;
	}
}